
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
 
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  /* Estilo dos botões */
  .modal-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }
  
  .modal-save-button {
    background-color: #006C98; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .modal-cancel-button {
    background-color: #971C1F; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  

  .file-input-container {
    position: relative;
    display: flex;
    align-items: center;
    margin: 15px 0;
  }
  
  .file-input {
    display: none;
  }
  
  .file-label {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    text-align: left;
    font-size: 14px;
    color: #333;
  }
  
  .file-icon {
    margin-left: 10px;
    color: #006c98;
  }
  
  .modal-note {
    font-size: 12px;
    color: #666;
    margin-top: 10px;
  }
  