.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.App > :nth-child(2) {
  flex: 1;
}

.main-container {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  .contact-section,
  .support-section,
  .about-section {
    margin-bottom: 50px;
    text-align: center;
  }
  
  h2 {
    color: #007bff; 
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  p {
    color: #666;
    margin-bottom: 1rem;
  }

  .accordion-header {
    margin: 0 !important;
  }
  
  .faq-section {
    margin-top: 20px;
  }
  
  .faq {
    text-align: left;
  }
  
  .faq summary {
    font-weight: bold;
  }
  
  .mission-vision ul {
    list-style-type: disc;
    padding-left: 20px;
  }

  .text-center:has(img) {
    padding: 0 !important;
    margin-bottom: 2rem !important;
  }

  .img-fluid {
    width: 100%; 
    height: auto; 
    object-fit: cover;
    margin-bottom: 0;
  }
  
  @media (min-width: 768px) {
    .sobre-webcertificados img {
      max-height: 300px; 
      object-fit: cover; 
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  
  @media (max-width: 768px) {
    .sobre-webcertificados img {
      width: 100%;
      height: auto; 
      object-fit: cover; 
    }
  }

  .sobre-webcertificados img {
    width: 100%;
    max-width: 100%; 
    height: auto;
  }

  

  