.registrations-container {
  margin: 20px 0;
  padding: 70px;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap; /* Para garantir que os cards "quebrem" para uma nova linha */
  gap: 20px; /* Espaçamento entre os cards */
}

h2 {
  color: #006C98;
  width: 100%; /* Título sempre ocupa 100% da largura */
  margin-bottom: 20px;
}

.registration-card {
  background-color: white;
  border: 1px solid #E5E5E5;
  border-radius: 8px;
  padding: 15px;
  flex: 1 1 100%; 
  margin-bottom: 20px;
  box-sizing: border-box;
}

@media (max-width: 429px) {
  .registration-card {
      flex: 1 1 100%; 
  }
}

@media (min-width: 430px) and (max-width: 749px) {
  .registration-card {
      flex: 1 1 48%; 
  }
}


@media (min-width: 750px) {
  .registration-card {
      flex: 1 1 30%;
  }
}

.registration-card button {
  background-color: #006C98;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow-x: hidden; 
  overflow-y: auto; 
}

.txt-description {
  text-align: center;
}

.modal-content {
  background-color: white !important;
  padding: 20px;
  border-radius: 8px !important;
  max-width: 80%;
  width: auto !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  box-sizing: border-box;
}

.div-pagination {
  margin-bottom: 10%;
}

/* Estilo dos botões */
.modal-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.modal-save-button {
  background-color: #006C98; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 14px;
  width: 30%;
}

.modal-cancel-button {
  background-color: #971C1F; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 14px;
  width: 30%;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


.spinner {
  border: 8px solid rgba(255, 255, 255, 0.3);
  border-top: 8px solid #ffffff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


