.btnContainer {
    margin: 0 20px 50px;
    display: flex;
    justify-content: end;
}

.createJobButton {
    background-color: transparent;
    color: #007bff;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 3px solid #007bff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .createJobButton span {
    font-size: 30px;
    line-height: 1;
    margin-bottom: 5px;
  }

  .createJobButton:hover {
    background-color: white !important;
  }