.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
  }
  
  .navbar .logo {
    width: 120px;
  }
  
  .menu-button {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .navbar-menu {
    position: absolute;
    top: 9%;
    right: 0;
    background: white;
    border: 1px solid #ccc;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10px;
  }
  
  .navbar-menu a {
    padding: 10px;
    text-decoration: none;
    color: black;
  }
  