/* Estilização do Container */
.reset-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 72px;
    /* position: relative; */
    padding: 20px;
    background-color: #f4f4f4;
  }
  

  .reset-card {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    box-sizing: content-box;
  }

  .reset-header img {
    width: auto !important;
  }
  
  .reset-header h2 {
    margin: 15px 0 5px;
    font-size: 20px;
    color: #333;
  }
  
  .reset-header p {
    font-size: 14px;
    color: #888;
  }
  

  .reset-body form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  form label {
    font-size: 14px;
    text-align: left;
    color: #0056b3;
  }
  
  form input {
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  


  .reset-button {
    background-color: #006C98;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .reset-button:hover {
    background-color: #0056b3;
  }
  

  .reset-footer p {
    font-size: 12px;
    color: #888;
    margin-top: 20px;
    a {
      color: black;
    }
  }
  
  .info-text {
    margin: -2vh 0 2vh 0;
    text-align: left;
    color: #878787;
    font-size: 10px;
  }

