.jobsContainer {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.innerContent {
  width: 90%;
  max-width: 1440px;
}

.jobTitleContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: 30px 0 15px;
}

.titleCardAdmin {
  margin: 0 !important;
}

.titleAdminPage {
  text-align: left;
  color: #006C98;
  margin: 50px 20px 0 !important;
}

.jobsList {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  gap: 10px;
}

.jobCard {
  position: relative;
  border: 1px solid #E5E5E5;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.jobCard span {
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
  border-radius: 8px 8px 0 0;
  font-size: 12px;
  padding: 5px 0;
  color: white;
}

.open-status {
  background-color: #22bd22;
}

.closed-status {
  background-color: #d32d31;
}

.jobsList.has-less-than-four .jobCard {
  flex: 1 1 calc(33.333% - 20px);
  max-width: 25%;
}

.cancelJobBtn {
  background-color: #971C1F;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  width: 40%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.cancelJobBtn:hover {
  background-color: #83191b !important;
}
.editionBtn {
  background-color: #006C98;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  width: 40%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.btnsCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px !important;
}

.btnsCard button {
  width: 100% !important;
}

/* Estilo do overlay do loading */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Estilo do spinner */
.spinner {
  border: 8px solid rgba(255, 255, 255, 0.3);
  border-top: 8px solid #ffffff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1170px) {
  .btnsCard {
    flex-direction: column !important;
  }
}

@media (max-width: 765px) {
  .jobsList {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .jobCard,
  .jobsList.has-less-than-four .jobCard  {
    width: auto;
    max-width: unset;
  }

  .btnsCard {
    flex-direction: row !important;
  }
}

@media (max-width: 610px) {
  .btnsCard {
    flex-direction: column !important;
  }
}

@media (max-width: 375px) {
  .jobsList {
    grid-template-columns: 1fr;
  }
}