
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
 
  .modal-content {
    background-color: white !important;
    padding: 20px;
    border-radius: 8px !important;
    max-width: 90%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: auto !important;
    height: auto !important;
  }
  
  /* Estilo dos botões */
  .modal-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }
  
  .modal-save-button {
    background-color: #006C98 !important; 
    color: white !important;
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 14px;
    width: 38% !important;
  }

  .modal-save-button:hover {
    background-color: #006C98 !important; 
  }
  
  .modal-cancel-button {
    background-color: #971C1F !important; 
    color: white !important;
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 14px;
    width: 38% !important;
  }

  .modal-cancel-button:hover {
    background-color: #971C1F !important; 
  }
  

  .file-input-container {
    position: relative;
    display: flex;
    align-items: center;
    margin: 15px 0;
  }
  
  .file-input {
    display: none;
  }
  
  .file-label {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    text-align: left;
    font-size: 14px;
    color: #333;
    width: 18rem;
  }
  
  .file-icon {
    margin-left: 10px;
    color: #006c98;
  }
  
  .modal-note {
    font-size: 12px;
    color: #666;
    margin-top: 10px;
  }

  .txt-description {
    text-align: justify;
    max-width: 900px;
    
  }

  .textDescription {
    white-space: pre-line;
  }

/* Modal de sucesso */
.success-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.success-modal-content {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

.modal-close-button {
  background-color: #4caf50; /* Verde para sucesso */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.modal-close-button:hover {
  background-color: #45a049;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Certifique-se de que o overlay esteja acima de outros elementos */
}

.spinner {
  border: 8px solid rgba(255, 255, 255, 0.3); /* Cor da borda de fundo */
  border-top: 8px solid #ffffff; /* Cor da borda do spinner */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


  