
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45rem;
  background-color: #f4f4f4;
  
}


.register-card {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: auto;
 
}


.register-header img {
  width: 40vh;
}

.register-header h2 {
  margin: 15px 0 5px;
  font-size: 20px;
  color: #333;
}

.register-header p {
  font-size: 14px;
  color: #888;
}




.register-body form {
  display: flex;
  flex-direction: column;
  gap: 15px;

  tr {
      width: 50%;
      input {
          width: 90%;
      }
  }
}



form input {
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.forgot-password {
  text-align: left;
  margin-bottom: 15px;
}

.forgot-password a {
  color: #888;
  font-size: 12px;
}


.register-button {
  background-color: #006C98;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  width: 40%;
}

.register-button:hover {
  background-color: #0056b3 !important;
}


.register-footer p {
  font-size: 12px;
  color: #888;
  margin-top: 20px;
  a {
    color: black;
  }
}


.password-input-container {
position: relative;
display: flex;
align-items: center;
}

.password-input-container input {
padding-right: 40px; 
width: 100%;
}

.password-toggle-icon {
position: absolute;
right: 10px;
cursor: pointer;
color: #888;
}


.password-toggle-icon:hover {
color: #007bff;
}

.input-group {
  gap: 6px;
  display: flex;
  flex-wrap: nowrap;
  select {
    width: 96%;
  }
}


form input,
form select {
padding: 10px;
font-size: 14px;
border-radius: 5px;
border: 1px solid #ddd;
width: 90%;
}

form select {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
background-color: white;
cursor: pointer;
}

.error-message {
color: red;
font-size: 12px;
margin-top: 10px;
}

.btns {
  display: flex;
  gap: 2vh;
  flex-direction: row;
  justify-content: center;
}

.cancel-btn {
  background-color: #971C1F;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  width: 40%;
}

.cancel-btn:hover {
  background-color: #971C1F !important;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 400px; /* Largura ajustada */
  height: 150px; /* Altura ajustada */
  max-width: 90%; /* Responsividade: ajusta para caber na tela menor */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.ok-button {
  background-color: #006C98;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.ok-button:hover {
  background-color: #005080 !important;
}

