
.registerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  margin-top: 72px;
  padding: 25px;
  
}

.FileInputContainer {
  display: flex;
    align-items: center;
    gap: 5px;
  
}

.fileInput {
  display: none;
}

.fileLabel {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  text-align: left;
  font-size: 14px;
  color: #333;
  width: 90%;
}

td,
td div,
td div input,
tr,
tr div input {
  width: 100% !important;
}

.registerCard {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center; 
}


.registerHeader h2 {
  margin: 15px 0 5px;
  font-size: 20px;
  color: #333;
}

.registerHeader p {
  font-size: 14px;
  color: #888;
}

.registerBody form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
}



form input {
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.forgotPassword {
  text-align: left;
  margin-bottom: 15px;
}

.forgotPassword a {
  color: #888;
  font-size: 12px;
}


.registerButton {
  background-color: #006C98;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  width: 40%;
}

.registerButton:hover {
  background-color: #0056b3 !important;
}


.registerFooter p {
  font-size: 12px;
  color: #888;
  margin-top: 20px;
  a {
    color: black;
  }
}


.passwordInputContainer {
position: relative;
display: flex;
align-items: center;
}

.passwordInputContainer input {
padding-right: 40px; 
width: 100%;
}

.passwordToggleIcon {
position: absolute;
right: 10px;
cursor: pointer;
color: #888;
}


.passwordToggleIcon:hover {
color: #007bff;
}

.inputGroup {
  gap: 6px;
  display: flex;
  flex-wrap: nowrap;
  select {
    width: 96%;
  }
}


form input,
form select {
padding: 10px;
font-size: 14px;
border-radius: 5px;
border: 1px solid #ddd;
width: 90%;
}

form select {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
background-color: white;
cursor: pointer;
}

.errorMessage {
color: red;
font-size: 12px;
margin-top: 10px;
}

.btns {
  display: flex;
  gap: 2vh;
  flex-direction: row;
  justify-content: center;
}

.cancelBtn {
  background-color: #971C1F;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  width: 40%;
}

.cancelBtn:hover {
  background-color: #971C1F !important;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 90%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.okButton {
  background-color: #006C98;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.okButton:hover {
  background-color: #005080 !important;
}

.footer {
  position: relative;
  bottom: 0;
}

