.tables-container {
  margin: 0 0 30px !important;
}

.tables-container button {
  padding: 10px 20px; /* Largura e altura dos botões */
  font-size: 1rem !important;
  cursor: pointer !important;
  border: none !important;
  background-color: #006c98 !important;
  color: white !important;
  border-radius: 5px !important;
}

.tables-container button:hover {
  background-color: #0056b3 !important;
}

.controls {
  display: flex; /* Usar flexbox para alinhar os controles */
  align-items: center; /* Alinha os itens verticalmente ao centro */
  justify-content: center; /* Centraliza os itens horizontalmente */
}

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px !important;
  margin-top: 20px !important;
  margin-right: 5px;
  width: 100%; /* Faz a busca ocupar 100% da largura disponível */
  max-width: 300px; /* Limita a largura máxima */
}

.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex-grow: 1; /* Faz o campo de busca ocupar o espaço restante */
}

.search-button {
  background-color: #006c98;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  margin-left: 10px; /* Espaçamento entre o campo de busca e o botão */
  cursor: pointer;
}

/* Contêiner para os botões */
.button-container {
  display: flex; /* Usar flexbox para alinhar os botões */
  justify-content: center; /* Centraliza os botões */
  gap: 10px; /* Espaçamento entre os botões */
}

.search-select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 5px;
}

.reset-button {
  margin-left: 10px; /* Espaçamento entre o botão de busca e o botão de reset */
  margin: 5px;
}