/* src/components/ImageWithText.css */
.image-with-text {
    position: relative;
    width: 100%;
    max-width: 1920px; /* Ajuste conforme necessário */
    margin: 0 auto; /* Centraliza a imagem horizontalmente */
  }
  
  .image {
    width: 100%;
    height: 260px;
    display: block;
  }
  
  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Cor do texto pode ser ajustada conforme o fundo */
    font-size: 1.5rem; /* Ajuste o tamanho da fonte conforme necessário */
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5); /* Adiciona um fundo semitransparente ao texto para melhorar a legibilidade */
    border-radius: 5px;
  }
  